.Header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  background-color: #39414C;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #B3D9FF;
  text-align: right;
}

.Header h1 {
  margin: 0;
  text-emphasis: bold;
}

.HeaderList {
  margin-top: 0;
  padding-inline-start: 10px;
}

.HeaderList li {
  display: inline;
  padding: 5px;
  padding-right: 10px;
}

.HeaderList li a {
  text-decoration: none;
  color: #B3D9FF;
  font-size: 24px;
  border: 1.5px solid #B3D9FF;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  font-family: 'Anton', sans-serif;
}


@media only screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
  }

  .Header h1 {
    font-size: 22pt;
  }
}

@media only screen and (max-width: 400px) {
  .Header {
    align-items: baseline;
  }

  .HeaderList li a {
    font-size: 20px;
  }
}